@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyBold.eot');
    src: url('SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyBold.woff2') format('woff2'),
        url('SVN-GilroyBold.woff') format('woff'),
        url('SVN-GilroyBold.ttf') format('truetype'),
        url('SVN-GilroyBold.svg#SVN-GilroyBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyLight.eot');
    src: url('SVN-GilroyLight.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyLight.woff2') format('woff2'),
        url('SVN-GilroyLight.woff') format('woff'),
        url('SVN-GilroyLight.ttf') format('truetype'),
        url('SVN-GilroyLight.svg#SVN-GilroyLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyHeavy.eot');
    src: url('SVN-GilroyHeavy.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyHeavy.woff2') format('woff2'),
        url('SVN-GilroyHeavy.woff') format('woff'),
        url('SVN-GilroyHeavy.ttf') format('truetype'),
        url('SVN-GilroyHeavy.svg#SVN-GilroyHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyMedium.eot');
    src: url('SVN-GilroyMedium.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyMedium.woff2') format('woff2'),
        url('SVN-GilroyMedium.woff') format('woff'),
        url('SVN-GilroyMedium.ttf') format('truetype'),
        url('SVN-GilroyMedium.svg#SVN-GilroyMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroySemiBold.eot');
    src: url('SVN-GilroySemiBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroySemiBold.woff2') format('woff2'),
        url('SVN-GilroySemiBold.woff') format('woff'),
        url('SVN-GilroySemiBold.ttf') format('truetype'),
        url('SVN-GilroySemiBold.svg#SVN-GilroySemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-Gilroy.eot');
    src: url('SVN-Gilroy.eot?#iefix') format('embedded-opentype'),
        url('SVN-Gilroy.woff2') format('woff2'),
        url('SVN-Gilroy.woff') format('woff'),
        url('SVN-Gilroy.ttf') format('truetype'),
        url('SVN-Gilroy.svg#SVN-Gilroy') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('SVN-GilroyXBold.eot');
    src: url('SVN-GilroyXBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyXBold.woff2') format('woff2'),
        url('SVN-GilroyXBold.woff') format('woff'),
        url('SVN-GilroyXBold.ttf') format('truetype'),
        url('SVN-GilroyXBold.svg#SVN-GilroyXBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

