@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3Bold.eot');
    src: url('TrajanPro3Bold.eot?#iefix') format('embedded-opentype'),
        url('TrajanPro3Bold.woff2') format('woff2'),
        url('TrajanPro3Bold.woff') format('woff'),
        url('TrajanPro3Bold.ttf') format('truetype'),
        url('TrajanPro3Bold.svg#TrajanPro3Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3Regular.eot');
    src: url('TrajanPro3Regular.eot?#iefix') format('embedded-opentype'),
        url('TrajanPro3Regular.woff2') format('woff2'),
        url('TrajanPro3Regular.woff') format('woff'),
        url('TrajanPro3Regular.ttf') format('truetype'),
        url('TrajanPro3Regular.svg#TrajanPro3Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3SemiBold.eot');
    src: url('TrajanPro3SemiBold.eot?#iefix') format('embedded-opentype'),
        url('TrajanPro3SemiBold.woff2') format('woff2'),
        url('TrajanPro3SemiBold.woff') format('woff'),
        url('TrajanPro3SemiBold.ttf') format('truetype'),
        url('TrajanPro3SemiBold.svg#TrajanPro3SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3Black.eot');
    src: url('TrajanPro3Black.eot?#iefix') format('embedded-opentype'),
        url('TrajanPro3Black.woff2') format('woff2'),
        url('TrajanPro3Black.woff') format('woff'),
        url('TrajanPro3Black.ttf') format('truetype'),
        url('TrajanPro3Black.svg#TrajanPro3Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

