.accommodation-detail {
  background-color: var(--color-white);

  .section-wrapper {
    padding: 80px;

    @media (max-width: 991px) {
      padding: 48px 24px;
    }
  }

  .swiper {
    // border-radius: 12px;

    .image {
      width: 100%;
      aspect-ratio: 628 / 471;
      max-height: 471px;
    }
  }

  .col-right {
    @media (max-width: 991px) {
      margin-top: 40px;
    }
  }

  .col-left {
    .title {
      max-width: 520px;
    }

    .desc {
      margin-top: 24px;
      max-width: 520px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }

    .contact {
      margin-top: 40px;
      max-width: 520px;

      @media (max-width: 991px) {
        margin-top: 32px;
      }

      li {
        display: flex;
        align-items: flex-start;
        gap: 12px;

        .icon {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
          transform: translateY(5px);
        }

        &:not(:first-child) {
          margin-top: 8px;
        }

        a {
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-primary-3);
          }
        }
      }
    }

    .facilities {
      margin-top: 64px;
      max-width: 520px;

      @media (max-width: 991px) {
        margin-top: 55px;
        max-width: 100%;
      }

      h4 {
        font-family: var(--font-heading);
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 24px;
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;

        @media (max-width: 767px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 12px 20px;
        }

        @media (max-width: 480px) {
          gap: 12px 10px;
        }

        li {
          display: flex;
          align-items: flex-start;
          gap: 12px;

          .icon {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            transform: translateY(4px);
          }
        }
      }

      &-more {
        margin-top: 12px;
        height: 0;
        overflow: hidden;
      }

      &-view-more {
        font-size: 13px;
        line-height: 15px;
        font-weight: 600;
        font-family: var(--font-heading);
        margin-top: 22px;

        width: max-content;
        display: flex;
        gap: 12px;
        cursor: pointer;
        color: var(--color-black);
        transition: all 0.4s ease;

        @media (max-width: 991px) {
          margin-top: 12px;
        }

        &.active {
          .icon {
            svg {
              opacity: 0;
            }

            svg:nth-child(2) {
              opacity: 1;
            }
          }
        }

        &:hover {
          color: var(--color-primary-3);

          .icon {
            // transform: rotate(180deg);
          }
        }

        .icon {
          width: 12px;
          height: 12px;
          flex-shrink: 0;
          position: relative;
          transition: transform 0.4s ease;

          svg {
            position: absolute;
            inset: 0;
            opacity: 1;
            transition: all 0.3s ease;

            &:nth-child(2) {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .wrapper-slider-parallax {
    .swiper-arrows {
      @media (max-width: 991px) {
        margin-top: 24px;
      }
    }
  }
}
