.section-contact {
  background-color: var(--color-secondary-1);

  .section-wrapper {
    padding: 80px;

    @media (max-width: 991px) {
      padding: 48px 24px;
    }
  }

  .col-left {
    padding-right: 130px;
    padding-top: 60px;

    @media (max-width: 991px) {
      padding-right: 0;
      padding-top: 0;
    }

    .title {
      margin-bottom: 24px;
    }

    .contact-box {
      margin-top: 40px;

      @media (max-width: 991px) {
        margin-top: 24px;
      }

      &__title {
        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        font-family: var(--font-heading);
        margin-bottom: 20px;
      }

      ul {
        li {
          display: flex;
          align-items: center;
          gap: 12px;

          &:not(:first-child) {
            margin-top: 8px;
          }
        }
      }

      a {
        transition: all 0.4s ease;

        &:hover {
          color: var(--color-primary-3);
        }
      }
    }

    .contact-address {
      li {
        align-items: flex-start !important;
      }

      .icon {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        transform: translateY(5px);
      }
    }

    .contact-social {
      margin-top: 48px;

      @media (max-width: 991px) {
        margin-top: 24px;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 24px;

        li {
          margin-top: 0 !important;
        }

        a {
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-primary-3);
          }
        }
      }
    }
  }

  .col-right {
    @media (max-width: 991px) {
      margin-top: 48px;
    }

    .button-global {
      margin-right: auto;
      margin-left: 0;
      padding: 8px 32px 7px;
    }

    .wrapper-form-booking {
      padding-top: 0;
      margin-top: 0;
      border: none;
      padding: 64px 64px 48px 64px;
      border-radius: 20px;
      overflow: hidden;
      background-color: var(--color-white);

      @media (max-width: 991px) {
        padding: 24px;
      }

      form {
        gap: 40px 24px;

        @media (max-width: 991px) {
          gap: 40px;
        }
      }

      .select-people {
        .select-box {
          background-color: var(--color-gray-1);
        }
      }

      .dropdown-custom-menu {
        background-color: var(--color-gray-1);
      }
    }
  }
}
