.featured-offers {
  background-color: var(--color-white);

  &.other-post {
    background-color: var(--color-secondary-1);
  }

  &.benefit {
    background-color: var(--color-secondary-1);
    .section-wrapper {
      padding-top: 0;
      padding-bottom: 80px;

      @media (max-width: 991px) {
        padding-bottom: 48px;
        padding-top: 32px;
      }
    }
  }
  .section-wrapper {
    padding: 80px 80px 40px 80px;

    @media (max-width: 991px) {
      padding: 48px 24px;
    }

    .swiper {
      margin: 0 -12px;
    }
    .swiper-wrapper {
      align-items: stretch;
      overflow: visible;
    }

    .swiper-slide {
      height: auto;
      padding: 0 12px 40px;

      @media (max-width: 991px) {
        padding: 0 12px 32px;
      }
    }
  }

  .section-top {
    margin-bottom: 48px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }

  .swiper-arrow.arrow-prev {
    transform: scale(-1) translate(100%, calc(50% + 20px));

    @media (max-width: 991px) {
      transform: scale(-1);
    }
  }

  .swiper-arrow.arrow-next {
    transform: translate(100%, calc(calc(-20px) - 50%));

    @media (max-width: 991px) {
      transform: none;
    }
  }
}

.offer-item {
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  &:hover {
    img {
      transform: scale(1.03);
    }

    .content {
      transform: translateY(0);

      .content-desc {
        opacity: 1;
      }
    }
  }

  .image {
    width: 100%;
    aspect-ratio: 410 / 510;
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 50%
      );
      z-index: 2;
      border-radius: 20px;
    }
    @media (max-width: 991px) {
      box-shadow: 0px 15px 8px 0px rgba(0, 0, 0, 0.1);
      aspect-ratio: 327 / 407;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      border-radius: 20px;
    }
  }

  .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    padding: 32px;
    transform: translateY(calc(var(--height-desc) + 16px));
    transition: transform 0.5s ease;
    pointer-events: none;

    @media (max-width: 991px) {
      transform: none;
      padding: 24px;
    }

    .content-desc {
      margin-top: 16px;
      opacity: 0;

      transition: opacity 0.4s ease;

      @media (max-width: 991px) {
        opacity: 1;
      }
    }
  }

  .tag {
    padding: 8px 16px;
    background-color: var(--color-white);
    border-radius: 20px;
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 2;
    width: max-content;

    @media (max-width: 991px) {
      top: 16px;
      left: 16px;
    }
  }
}
.offer-main {
  &.benefit-style {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 24px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .offer-item {
      .tag {
        display: none;
      }
    }
  }
}
