.hotel-filter {
  background-color: #84267e26;

  .section-wrapper {
    padding: 80px 80px 60px 80px;

    @media (max-width: 991px) {
      padding: 48px 24px 32px;
    }
  }

  &__top {
    margin-bottom: 54px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start !important;
    }

    .nav-tabs {
      gap: 8px;
      border: none;

      .nav-link {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        backdrop-filter: blur(65px);
        margin: 0;
        border: 1px solid rgba(64, 64, 64, 0.3);
        transition: all 0.4s ease;

        &.active {
          background-color: var(--color-black);
          color: var(--color-white);
          pointer-events: none;
        }

        &:hover {
          color: var(--color-black);
          border-color: var(--color-black);
        }
      }
    }
  }

  &__slider {
    .swiper {
      margin: 0 -12px;
    }
    .swiper-wrapper {
      align-items: stretch;
      overflow: visible;
    }

    .swiper-slide {
      height: auto;
      padding: 0 12px 40px;
    }
  }

  .swiper-arrow.arrow-prev {
    transform: scale(-1) translate(100%, calc(50% + 20px));

    @media (max-width: 991px) {
      transform: scale(-1);
    }
  }

  .swiper-arrow.arrow-next {
    transform: translate(100%, calc(calc(-20px) - 50%));

    @media (max-width: 991px) {
      transform: none;
    }
  }

  //   Hotel item
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;

    box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 991px) {
      box-shadow: 0px 15px 8px 0px rgba(0, 0, 0, 0.1);
    }

    &:hover {
      .content-title,
      .btn-arrow {
        color: var(--color-primary-3);
        span {
          color: var(--color-primary-3);
        }
        .icon {
          transform: translateX(5px);
          svg {
            path {
              stroke: var(--color-primary-3);
            }
          }
        }
      }

      img {
        transform: scale(1.03);
      }
    }

    .image {
      width: 100%;
      aspect-ratio: 410 / 313;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
      }
    }

    .content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: var(--color-white);

      .content-title {
        margin-bottom: 12px;
        transition: all 0.4s ease;
      }

      .content-desc {
        margin-bottom: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: 991px) {
          -webkit-line-clamp: 4;
          line-clamp: 4;
        }
      }

      .btn-arrow {
        width: max-content;
        margin-top: auto;
        transition: all 0.4s ease;
      }
    }
  }
}
// dropdown custom
.dropdown-custom.filter-dropdown {
  position: relative;
  z-index: 3;
  cursor: pointer;

  @media (max-width: 991px) {
    width: 200px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  .dropdown-custom {
    &-menu {
      position: absolute;
      bottom: -1px;
      left: -50%;
      transform: translate(50%, 100%);
      background-color: var(--color-white);
      width: 100%;
      padding: 8px;
      clip-path: inset(0 0 100% 0);
      will-change: clip-path;
      transition: clip-path 0.3s ease;
      pointer-events: none;
      border-radius: 20px;
      &.dropdown--active {
        clip-path: inset(0 0 0 0);
        pointer-events: auto;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 50px;
      min-height: 36px;
      position: relative;
      width: 100%;
      background-color: var(--color-black);

      .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        transition: all 0.4s ease;
      }

      &.--active {
        .icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .value-select {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          color: var(--color-white);
          font-size: 13px;
          line-height: 20px;
          font-weight: 600;
        }
      }
    }
    &-item {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
      padding: 8px;
      transition: all 0.3s ease;
      text-align: center;
      &:hover {
        background-color: rgba(23, 75, 156, 0.1);
      }
      span {
        color: var(--color-black);
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }
}

.page-member-style {
  .hotel-filter {
    background-color: var(--color-white);
  }
}
