.list-post-filter {
  background-color: var(--color-secondary-1);
  .section-wrapper {
    padding: 80px;

    @media (max-width: 991px) {
      padding: 48px 24px;
    }
  }

  .section-title {
    margin-bottom: 45px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 32px;
      align-items: flex-start !important;

      position: sticky;
      top: 8px;
      z-index: 5;
    }
  }

  .filter {
    &-list-button {
      gap: 8px;

      .filter-button {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        backdrop-filter: blur(65px);
        margin: 0;
        border: 1px solid rgba(64, 64, 64, 0.3);
        transition: all 0.4s ease;
        cursor: pointer;

        &.active {
          background-color: var(--color-black);
          color: var(--color-white);
          pointer-events: none;
        }

        &:hover {
          border-color: var(--color-black);
        }
      }
    }
  }

  .list-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 24px;

    &.is-loading {
      opacity: 0.4;
      pointer-events: none;
    }

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 48px 24px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &.offers-post {
    .list-post {
      gap: 80px 24px;
    }
  }
}
