.destination-location {
  padding: 0 80px 80px 80px;
  background-color: var(--color-white);

  @media (max-width: 991px) {
    padding: 0 24px 48px;
  }

  .destination-title {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }
  .destination-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: 8fr 4fr;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    .location-iframe {
      .iframe {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        border-radius: 12px;

        @media (max-width: 767px) {
          aspect-ratio: 327 / 447;
        }

        iframe {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .location-review {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 991px) {
        align-items: flex-start;
      }

      .location-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 24px;

        @media (max-width: 991px) {
          gap: 24px;
          margin-bottom: 32px;
        }
      }
      .location-item {
        &:hover {
          .location-image {
            img {
              transform: scale(1.03);
            }
          }

          .name {
            color: var(--color-primary-3);
          }
        }
      }
      .location-image {
        width: 100%;
        aspect-ratio: 195 / 104;
        border-radius: 12px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
        }
      }
      .location-info {
        margin-top: 12px;
        .name {
          font-size: 15px;
          line-height: 25px;
          font-weight: bold;
          color: var(--color-black);
          margin-bottom: 4px;
          transition: all 0.4s ease;
        }
        .time {
          font-size: 15px;
          line-height: 25px;
          font-weight: 500;
          color: var(--color-black);
          transition: color 0.3s ease;
        }
      }
    }
  }
}

#locationModal {
  .modal-content {
    border: 0;
  }
  .modal-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    font-family: var(--font-body);
    color: var(--color-black);
  }
  .btn-close {
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(24, 24, 25, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
    svg {
      path {
        transition: stroke 0.4s ease;
      }
    }
    &:focus {
      box-shadow: none;
    }
    &:hover {
      opacity: 1;
      background-color: var(--color-primary-3);
      border: 1px solid var(--color-primary-3);
      svg {
        path {
          stroke: var(--color-white);
        }
      }
    }
  }
  .modal-content {
    border-radius: 12px;
    background-color: var(--color-white);

    @media (max-width: 767px) {
      border-radius: unset;
    }
  }
  .modal-header {
    border-radius: 0;
    border-bottom: 0;
    padding: 32px 24px 24px;
  }
  .modal-body {
    padding-top: 0;
    padding: 0 24px 32px;
    overflow-y: scroll;
    // max-height: 500px;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(132, 38, 126, 0.5);
      border-radius: 10px;
    }
  }
  .modal-dialog {
    max-width: 900px;

    @media (max-width: 767px) {
      margin: 0;
      height: 100svh;
    }
  }
  .location-popup-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 24px;
    margin-bottom: 32px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .location-popup-item {
      &:hover {
        .name {
          color: var(--color-primary-3) !important;
        }
      }
      .location-info {
        margin-top: 12px;

        .name {
          font-size: 15px;
          line-height: 25px;
          font-weight: bold;
          color: var(--color-black);
          margin-bottom: 4px;
          transition: all 0.4s ease;
        }
        .time {
          font-size: 15px;
          line-height: 25px;
          font-weight: 500;
          color: var(--color-black);
          transition: color 0.4s ease;
        }
      }
      &:hover {
        .location-image img {
          transform: scale(1.03);
        }
      }
      .location-image {
        overflow: hidden;
        border-radius: 12px;
        width: 100%;
        aspect-ratio: 190 / 104;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);
        }
      }
      &:first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;

        @media (max-width: 767px) {
          grid-column: 1 / -1;
          grid-row: unset;
        }

        .location-image {
          width: 100%;
          aspect-ratio: 410 / 230;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:nth-child(2) {
        grid-column: auto / span 2;
        grid-row: 1 / span 2;
        .location-image {
          width: 100%;
          aspect-ratio: 410 / 230;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      &:first-child,
      &:nth-child(2) {
        .location-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
  .sth-here {
    margin-bottom: 40px;
    .title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      font-family: var(--font-body);
      color: var(--color-black);
      margin-bottom: 16px;
    }
    .description {
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
      color: var(--color-black);
    }
  }
  .location-filter {
    .filter-section-multi {
      margin-bottom: 40px;

      @media (max-width: 767px) {
        margin-bottom: 32px;
      }
    }
    .filter-list-button {
      gap: 8px;
      .filter-button {
        display: inline-block;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        color: var(--color-black);
        padding: 8px 16px;
        border-radius: 20px;
        // border: 1px solid rgba(24, 24, 25, 0.3);
        background-color: var(--color-white);
        transition: all 0.4s ease;
        cursor: pointer;
        &:hover {
          background-color: var(--color-black);
          color: var(--color-white);
          // border: 1px solid var(--color-black);
        }
        &.active {
          background-color: var(--color-black);
          color: var(--color-white);
          // border: 1px solid var(--color-black);
          pointer-events: none;
        }
      }
    }

    .filter-section-result {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px 40px;

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      .filter-item {
        &:nth-child(10n) {
          margin-bottom: 20px;

          @media (max-width: 767px) {
            margin-bottom: 0;
          }
        }
      }
    }
    .location-result {
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
      padding-left: 8px;
      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: var(--color-black);
        left: 0;
        border-radius: 50%;
      }
      .name {
        font-size: 15px;
        line-height: 25px;
        font-weight: bold;
        color: var(--color-black);
      }
      .time {
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        color: var(--color-black);
      }
    }
  }
}
