.slider-gallery {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  .thumbnail-list {
    position: absolute;
    bottom: 24px;
    z-index: 4;
    right: 0;
    left: 0;
    width: 100%;
    &-wrapper {
      margin: 0 auto;
      max-width: calc(100% - 160px);
      position: relative;

      @media (max-width: 991px) {
        max-width: 100%;
      }

      .swiper {
        @media (max-width: 991px) {
          padding: 0 24px;
        }
      }

      .swiper-arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        transform: translateY(calc(-50% - 15px));
        transition:
          border 0.3s ease,
          background-color 0.3s ease;
        &.swiper-button-lock {
          opacity: 0 !important;
        }
        @media (max-width: 991px) {
          display: none;
        }

        &:hover {
          border-color: var(--color-primary-3);
          background-color: var(--color-primary-3);
        }
        &::after {
          content: unset;
          font-size: 0;
        }
        svg {
          width: auto;
          height: auto;
        }
      }
      .swiper-button-next {
        right: -60px;
      }
      .swiper-button-prev {
        left: -60px;
      }
    }
    .swiper-slide {
      cursor: pointer;
      &:hover {
        .thumbnail-image {
          // border: 1px solid var(--color-primary-3);
        }
        .thumbnail-name {
          color: var(--color-primary-1);
        }
      }
      &.swiper-slide-thumb-active {
        .thumbnail-image {
          // border: 1px solid var(--color-primary-3);
        }
        .thumbnail-name {
          color: var(--color-primary-1);
        }
      }
    }

    .thumbnail-image {
      width: 100%;
      aspect-ratio: 203 / 112;
      // border-radius: 12px;
      overflow: hidden;
      // border: 1px solid transparent;
      transition: all 0.3s ease;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .thumbnail-name {
      margin-top: 8px;
      font-family: var(--font-heading);
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: var(--color-white);
      text-align: center;
      transition: color 0.3s ease;
      text-transform: uppercase;
    }
  }
  .image-bg-list {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 52.51%,
        #000000 100%
      );
    }
    .image-bg {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .content-thumbnail-group {
    position: absolute;
    top: 45%;
    left: 80px;
    transform: translate(0%, -50%);
    z-index: 3;
    min-height: 330px;
    max-width: calc(calc(4 / 12) * 100% - 64px);
    padding: 32px;
    // border-radius: 20px;
    background-color: rgba(2, 54, 104, 0.9);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {
      max-width: 50%;
      left: 24px;
    }
    @media (max-width: 767px) {
      top: 24px;
      transform: none;
      width: 50%;
      max-width: 100%;
    }

    @media (max-width: 767px) {
      width: calc(100% - 48px);
      padding: 24px;
      min-height: max-content;
    }

    .name-room {
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white);
      font-family: var(--font-heading);
      font-weight: bold;
      margin-bottom: 24px;
    }
    .description {
      font-size: 15px;
      line-height: 25px;
      font-weight: 500;
      color: var(--color-white);
    }
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: auto;
      width: max-content;

      @media (max-width: 767px) {
        margin-top: 32px;
      }

      span {
        font-size: 13px;
        line-height: 15px;
        font-family: var(--font-heading);
        color: var(--color-white);
      }
    }
  }
}
