<div class="cta-wrapper">
  <div class="cta-global">
    <img src="./assets/images/icons/icon-chat.svg" alt="" />
    <img src="./assets/images/icons/icon-close-white.svg" alt="" />
  </div>
  <div class="cta-list">
    <div class="cta-item item-call">
      <a href="tel:1900558855" class="d-flex">
        <img src="./assets/images/icons/icon-call.svg" alt="" />
      </a>
    </div>
    <div class="cta-item item-zalo">
      <a href="#" class="d-flex">
        <img src="./assets/images/icons/icon-zalo.svg" alt="" />
      </a>
    </div>
    <div class="cta-item item-messenger">
      <a
        href="https://web.facebook.com/messages/t/ttchospitality?_rdc=1&_rdr#"
        class="d-flex"
      >
        <img src="./assets/images/icons/icon-messenger.svg" alt="" />
      </a>
    </div>
  </div>
</div>
