<section>
  <div class="filter-section">
    <div class="filter-list-button d-flex">
      <div class="filter-button active" data-type="all">All</div>
      <div class="filter-button" data-type="type-1">Type 1</div>
      <div class="filter-button" data-type="type-2">Type 2</div>
      <div class="filter-button" data-type="type-3">Type 3</div>
      <div class="filter-button" data-type="type-4">Type 4</div>
    </div>
  </div>
  <div class="filter-section-result">
    <div class="filter-item" data-filter="type-1">
      <div class="box box-1"></div>
    </div>
    <div class="filter-item" data-filter="type-2">
      <div class="box box-2"></div>
    </div>
    <div class="filter-item" data-filter="type-3">
      <div class="box"></div>
    </div>
    <div class="filter-item" data-filter="type-4">
      <div class="box"></div>
    </div>
    <div class="filter-item" data-filter="type-2">
      <div class="box box-2"></div>
    </div>
    <div class="filter-item" data-filter="type-3">
      <div class="box"></div>
    </div>
    <div class="filter-item" data-filter="type-1">
      <div class="box box-1"></div>
    </div>
  </div>
</section>
