<div class="header-container">
  <div class="header-lang">
    <div class="dropdown-custom">
      <div class="dropdown-custom-btn">
        <div class="value-select">
          <span>VIE</span>
          <img src="./assets/images/flag/flag-vi.svg" alt="" />
        </div>
        <div class="icon">
          <svg
            width="8"
            height="5"
            viewBox="0 0 8 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
              stroke="white"
              stroke-linejoin="bevel"
            />
          </svg>
        </div>
      </div>
      <div class="dropdown-custom-menu">
        <div class="dropdown-custom-item">
          <span>ENG</span>
          <img src="./assets/images/flag/flag-en.svg" alt="" />
        </div>
        <div class="dropdown-custom-item">
          <span>KOR</span>
          <img src="./assets/images/flag/flag-ko.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="header-menu menu-left d-none d-xl-block">
      <ul>
        <li class="menu-item-has-children">
          <a href="./accommodation.html" class="menu-full-ks"
            ><span>khách sạn</span>
            <div class="icon">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                  stroke="white"
                  stroke-linejoin="bevel"
                />
              </svg>
            </div>
          </a>

          <div class="sub-menu level-1">
            <ul>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>hà nội</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">Nesta The Grand Haonam</a>
                  </li>
                  <li>
                    <a href="./*.html">Nesta Hanoi Hotel</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>đà nẵng</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">Nesta Celia Danang Hotel</a>
                  </li>
                  <li>
                    <a href="./*.html">Nesta Danang Hotel</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>hội an</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">Nesta Hoian Resort & Spa</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>đà lạt</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">Nesta Valley Dalat Hotel</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>hồ chí minh</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">Nesta Saigon Hotel</a>
                  </li>
                </ul>
              </li>
            </ul>
            <a href="./accommodation.html" class="btn-view-hotel">tất cả</a>
          </div>
        </li>
        <li>
          <a href="./offers.html"><span>ưu đãi</span></a>
        </li>
        <li class="menu-item-has-children">
          <a href="./experiences.html"
            ><span>trải nghiệm</span>
            <div class="icon">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                  stroke="white"
                  stroke-linejoin="bevel"
                />
              </svg>
            </div>
          </a>
          <div class="sub-menu menu-max-width">
            <ul>
              <li>
                <a href="./*.html">hà nội</a>
              </li>
              <li>
                <a href="./*.html">hội an</a>
              </li>
              <li>
                <a href="./*.html">cần thơ</a>
              </li>
              <li>
                <a href="./*.html">đà lạt</a>
              </li>
              <li>
                <a href="./*.html">đà nẵng</a>
              </li>
              <li>
                <a href="./*.html">hồ chí minh</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="header-logo-group">
      <a href="./index.html" class="d-inline-block logo">
        <img src="./assets/images/icons/logo-white.svg" alt="" />
        <img src="./assets/images/icons/logo-black.svg" alt="" />
      </a>
    </div>
    <div class="header-menu menu-right d-none d-xl-block">
      <ul>
        <li>
          <a href="./news.html"><span>tin tức</span></a>
        </li>
        <li>
          <a href="./member.html"><span>thành viên</span></a>
        </li>
        <li>
          <a href="./contact.html"><span>liên hệ</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-cta d-none d-xl-flex">
    <a href="./booking.html" class="button-global">
      <span>đặt phòng</span>
    </a>
  </div>
  <div class="header-hamburger d-flex justify-content-end d-xl-none">
    <div class="header-hamburger-container" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<div class="header-sub-menu" data-lenis-prevent>
  <div class="header-sub-menu-overlay"></div>
  <div class="header-menu mobile-layout">
    <ul>
      <li class="menu-item-has-children">
        <a href="./accommodation.html" class="menu-full-ks"
          ><span>khách sạn</span>
          <div class="icon">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                stroke="black"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
        </a>

        <div class="sub-menu level-1">
          <div class="sub-menu-back">
            <svg
              width="14"
              height="11"
              viewBox="0 0 14 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.158203 5.5C3.1582 4.5 6.1582 1 6.1582 0M0.158203 5.5C3.1582 6.5 6.1582 10 6.1582 11M0.158203 5.5H13.1582"
                stroke="#181819"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
          <ul>
            <li>
              <a href="./accommodation.html">tất cả </a>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>hà nội</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./accommodation-detail.html"
                    >Nesta The Grand Haonam</a
                  >
                </li>
                <li>
                  <a href="./*.html">Nesta Hanoi Hotel</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>đà nẵng</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">Nesta Celia Danang Hotel</a>
                </li>
                <li>
                  <a href="./*.html">Nesta Danang Hotel</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>hội an</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.htmll">Nesta Hoian Resort & Spa</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>đà lạt</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">Nesta Valley Dalat Hotel</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>hồ chí minh</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">Nesta Saigon Hotel</a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- <a href="./hotel.html" class="btn-view-hotel">tất cả</a> -->
        </div>
      </li>
      <li>
        <a href="./offers.html"><span>ưu đãi</span></a>
      </li>
      <li class="menu-item-has-children">
        <a href="./.html"
          ><span>trải nghiệm</span>
          <div class="icon">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                stroke="black"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
        </a>
        <div class="sub-menu menu-max-width">
          <div class="sub-menu-back">
            <svg
              width="14"
              height="11"
              viewBox="0 0 14 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.158203 5.5C3.1582 4.5 6.1582 1 6.1582 0M0.158203 5.5C3.1582 6.5 6.1582 10 6.1582 11M0.158203 5.5H13.1582"
                stroke="#181819"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
          <ul>
            <li>
              <a href="./experiences.html">tất cả trải nghiệm </a>
            </li>
            <li>
              <a href="./*.html">hà nội</a>
            </li>
            <li>
              <a href="./*.html">hội an</a>
            </li>
            <li>
              <a href="./*.html">cần thơ</a>
            </li>
            <li>
              <a href="./*.html">đà lạt</a>
            </li>
            <li>
              <a href="./*.html">đà nẵng</a>
            </li>
            <li>
              <a href="./*.html">hồ chí minh</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="./news.html">tin tức</a>
      </li>
      <li>
        <a href="./member.html">thành viên</a>
      </li>
      <li>
        <a href="./contact.html">liên hệ</a>
      </li>
    </ul>
  </div>
</div>
