<div class="header-container">
  <div class="header-lang">
    <div class="dropdown-custom">
      <div class="dropdown-custom-btn">
        <div class="value-select">
          <span>VIE</span>
          <img src="./assets/images/flag/flag-vi.svg" alt="" />
        </div>
        <div class="icon">
          <svg
            width="8"
            height="5"
            viewBox="0 0 8 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
              stroke="white"
              stroke-linejoin="bevel"
            />
          </svg>
        </div>
      </div>
      <div class="dropdown-custom-menu">
        <div class="dropdown-custom-item">
          <span>ENG</span>
          <img src="./assets/images/flag/flag-en.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="header-menu menu-left d-none d-xl-block">
      <ul>
        <li class="menu-item-has-children">
          <a href="./accommodation.html" class="menu-full-ks"
            ><span>TTC Hotel</span>
            <div class="icon">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                  stroke="white"
                  stroke-linejoin="bevel"
                />
              </svg>
            </div>
          </a>

          <div class="sub-menu level-1">
            <ul>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Cần Thơ</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Cần Thơ</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Đà Lạt</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Ngọc Lan</a>
                  </li>
                  <li>
                    <a href="./*.html">TTC Hotel - Đà Lạt</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Hồ Chí Minh</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Airport</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Cambodia</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Angkor</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Bình Thuận</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Phan Thiết</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Ninh Thuận</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Resort - Ninh Thuận</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Quảng Nam</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Hội An</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Thừa Thiên Huế</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Imperial Hotel</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="./*.html" class="location-hotel"
                  ><span>Khánh Hòa</span>
                  <div class="icon">
                    <img src="./assets/images/icons/icon-map.svg" alt="" />
                  </div>
                </a>
                <ul class="sub-menu-name-hotel">
                  <li>
                    <a href="./*.html">TTC Hotel - Michelia</a>
                  </li>
                  <li>
                    <a href="./*.html">TTC Resort - Dốc Lết</a>
                  </li>
                  <li>
                    <a href="./*.html">TTC Van Phong Bay Resort</a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- <a href="./accommodation.html" class="btn-view-hotel">tất cả</a> -->
          </div>
        </li>

        <li class="menu-item-has-children">
          <a href="./experiences.html"
            ><span>TTC World</span>
            <div class="icon">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                  stroke="white"
                  stroke-linejoin="bevel"
                />
              </svg>
            </div>
          </a>
          <div class="sub-menu menu-max-width">
            <ul>
              <li>
                <a href="./*.html">TTC World - Trà Cú</a>
              </li>
              <li>
                <a href="./*.html">Thung Lũng Tình Yêu</a>
              </li>
              <li>
                <a href="./*.html">TTC Dốc Lết</a>
              </li>
              <li>
                <a href="./*.html">TTC Mekong Aqua Park</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item-has-children">
          <a href="./experiences.html"
            ><span>TTC Palace</span>
            <div class="icon">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                  stroke="white"
                  stroke-linejoin="bevel"
                />
              </svg>
            </div>
          </a>
          <div class="sub-menu menu-max-width">
            <ul>
              <li>
                <a href="./*.html">TTC Palace - Bến Tre</a>
              </li>
              <li>
                <a href="./*.html">TTC Palace - Bình Thuận</a>
              </li>
              <li>
                <a href="./*.html">TTC - Nhà hàng nổi Bến Tre</a>
              </li>
              <li>
                <a href="./*.html">TTC - Khu ẩm thực Bến Tre</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="header-logo-group">
      <a href="./index.html" class="d-inline-block logo">
        <img src="./assets/images/icons/logo-white.svg" alt="" />
        <img src="./assets/images/icons/logo-black.svg" alt="" />
      </a>
    </div>
    <div class="header-menu menu-right d-none d-xl-block">
      <ul>
        <li>
          <a href="./*.html">
            <span>TTC Hospitality</span>
          </a>
        </li>
        <li>
          <a href="./news.html"><span>Ưu đãi</span></a>
        </li>
        <li>
          <a href="./news.html"><span>Tin tức</span></a>
        </li>

        <li>
          <a href="./contact.html"><span>Liên hệ</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-cta d-none d-xl-flex">
    <a href="./booking.html" class="button-global">
      <span>Đặt phòng</span>
    </a>
  </div>
  <div class="header-hamburger d-flex justify-content-end d-xl-none">
    <div class="header-hamburger-container" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<div class="header-sub-menu" data-lenis-prevent>
  <div class="header-sub-menu-overlay"></div>
  <div class="header-menu mobile-layout">
    <ul>
      <li class="menu-item-has-children">
        <a href="./accommodation.html" class="menu-full-ks"
          ><span>TTC Hotel</span>
          <div class="icon">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                stroke="white"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
        </a>

        <div class="sub-menu level-1">
          <div class="sub-menu-back">
            <svg
              width="14"
              height="11"
              viewBox="0 0 14 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.158203 5.5C3.1582 4.5 6.1582 1 6.1582 0
 M0.158203 5.5C3.1582 6.5 6.1582 10 6.1582 11
 M0.158203 5.5H13.1582"
                stroke="#023668"
                stroke-linejoin="bevel"
              ></path>
            </svg>
          </div>
          <ul>
            <li>
              <a href="./accommodation.html">Tất cả</a>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Cần Thơ</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Cần Thơ</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Đà Lạt</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Ngọc Lan</a>
                </li>
                <li>
                  <a href="./*.html">TTC Hotel - Đà Lạt</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Hồ Chí Minh</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Airport</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Cambodia</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Angkor</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Bình Thuận</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Phan Thiết</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Ninh Thuận</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Resort - Ninh Thuận</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Quảng Nam</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Hội An</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Thừa Thiên Huế</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Imperial Hotel</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="./*.html" class="location-hotel"
                ><span>Khánh Hòa</span>
                <div class="icon">
                  <img src="./assets/images/icons/icon-map.svg" alt="" />
                </div>
              </a>
              <ul class="sub-menu-name-hotel">
                <li>
                  <a href="./*.html">TTC Hotel - Michelia</a>
                </li>
                <li>
                  <a href="./*.html">TTC Resort - Dốc Lết</a>
                </li>
                <li>
                  <a href="./*.html">TTC Van Phong Bay Resort</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>

      <li class="menu-item-has-children">
        <a href="./experiences.html"
          ><span>TTC World</span>
          <div class="icon">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                stroke="white"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
        </a>
        <div class="sub-menu menu-max-width">
          <div class="sub-menu-back">
            <svg
              width="14"
              height="11"
              viewBox="0 0 14 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.158203 5.5C3.1582 4.5 6.1582 1 6.1582 0
 M0.158203 5.5C3.1582 6.5 6.1582 10 6.1582 11
 M0.158203 5.5H13.1582"
                stroke="#023668"
                stroke-linejoin="bevel"
              ></path>
            </svg>
          </div>
          <ul>
            <li>
              <a href="./*.html">Tất cả</a>
            </li>
            <li>
              <a href="./*.html">TTC World - Trà Cú</a>
            </li>
            <li>
              <a href="./*.html">Thung Lũng Tình Yêu</a>
            </li>
            <li>
              <a href="./*.html">TTC Dốc Lết</a>
            </li>
            <li>
              <a href="./*.html">TTC Mekong Aqua Park</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item-has-children">
        <a href="./experiences.html"
          ><span>TTC Palace</span>
          <div class="icon">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.34082 0.5C6.67415 0.5 4.34082 2.5 3.67415 4.5C3.00749 2.5 0.674153 0.5 0.0074861 0.5"
                stroke="white"
                stroke-linejoin="bevel"
              />
            </svg>
          </div>
        </a>
        <div class="sub-menu menu-max-width">
          <div class="sub-menu-back">
            <svg
              width="14"
              height="11"
              viewBox="0 0 14 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.158203 5.5C3.1582 4.5 6.1582 1 6.1582 0
 M0.158203 5.5C3.1582 6.5 6.1582 10 6.1582 11
 M0.158203 5.5H13.1582"
                stroke="#023668"
                stroke-linejoin="bevel"
              ></path>
            </svg>
          </div>
          <ul>
            <li>
              <a href="./*.html">Tất cả</a>
            </li>
            <li>
              <a href="./*.html">TTC Palace - Bến Tre</a>
            </li>
            <li>
              <a href="./*.html">TTC Palace - Bình Thuận</a>
            </li>
            <li>
              <a href="./*.html">TTC - Nhà hàng nổi Bến Tre</a>
            </li>
            <li>
              <a href="./*.html">TTC - Khu ẩm thực Bến Tre</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="./*.html">
          <span>TTC Hospitality</span>
        </a>
      </li>
      <li>
        <a href="./*.html">
          <span>Ưu đãi</span>
        </a>
      </li>
      <li>
        <a href="./*.html">
          <span>Tin tức</span>
        </a>
      </li>
      <li>
        <a href="./*.html">
          <span>Liên hệ</span>
        </a>
      </li>
    </ul>
  </div>
</div>
